<div class="col-md-2">
    <div class="sidebar content-box" style="display: block;">
        <ul class="nav">
            <li>@Html.ActionLink("Dashboard", "Index", "Admin", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Products", "All", "Products", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Categories", "All", "Categories", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Blogs", "All", "Blogs", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Blog Categories", "All", "BlogCategories", new { area = "Admin" }, null)</li>
            <li>@Html.ActionLink("Orders", "All", "Orders", new { area = "Admin" }, null)</li>
           
       
        </ul>
    </div>
</div>