@using PlusSize.Models.EntityModels
@model Cart
@{
    ViewBag.Title = "SimpleCheckout";
}
<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div style="display: table; margin: auto;">
                    @Html.ActionLink("Cart", "Index", "Cart", new { area = "" }, new { @class="btn btn-success"})
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
        </div>
    </div>
    <div class="row cart-body">
        @using (Html.BeginForm("SimpleCheckout", "Checkout", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {  @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <form class="form-horizontal" method="post" action="">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                    <!--REVIEW ORDER-->
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            Review Order <div class="pull-right"><small><a class="afix-1" href="#">Edit Cart</a></small></div>
                        </div>
                        <div class="panel-body">
                            @foreach (var product in Model.Products)
                            {
                                <div class="form-group">
                                    <div class="col-sm-3 col-xs-3">
                                        <img class="img-responsive" src="@product.ImageUrl" width="100" height="70" />
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="col-xs-12">@product.Title</div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6><span>$</span>@product.Price</h6>
                                    </div>
                                    <input type="hidden" name="productId" value="@product.Id">
                                </div>
                            }
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <strong>Sum total:</strong>
                                    <div class="pull-right"><span>$</span><span>@Model.Products.Sum(p => p.Price)</span></div>
                                    <input type="hidden" name="sumTotal" value="@Model.Products.Sum(p => p.Price)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">Address</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h4>Shipping Address</h4>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <strong>Name:</strong>
                                    <input type="text" name="Name" class="form-control" value="@Model.User.Name" />
                                </div>
                                <div class="span1"></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Address:</strong></div>
                                <div class="col-md-12">
                                    <input type="text" name="Adress" class="form-control" value="@Model.User.Adress" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Phone Number:</strong></div>
                                <div class="col-md-12"><input type="text" name="PhoneNumber" class="form-control" value="@Model.User.PhoneNumber" /></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><strong>Email Address:</strong></div>
                                <div class="col-md-12"><input type="text" name="Email" class="form-control" value="@Model.User.Email" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-10 col-md-10">
                        <input type="submit" class="btn btn-primary btn-lg" value="Order" />
                    </div>
                </div>
            </form>
        }
    </div>
</div>