<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Plus Size Fashion</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home/index"><img src="~/Images/plusSize-logo.png"></a>
                </div>
                <div class="navbar-collapse style= collapse in">
                    <ul class="nav navbar-nav">
                        <li class="dropdown mega-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-space-shuttle"></i> Categories <span class="caret"></span></a>
                            <div id="filters" class="dropdown-menu mega-dropdown-menu">
                                <div class="container-fluid2">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="kids">
                                            <ul class="nav-list list-inline">
                                                <li>@Html.ActionLink("Tops", "Details", "Categories", new { area = "" }, new { name = "Tops" })</li>
                                                <li>@Html.ActionLink("Shirts", "Details", "Categories", new { area = "" }, new { name = "Shirts" })</li>
                                                <li>@Html.ActionLink("Jeans", "Details", "Categories", new { area = "" }, new { name = "Jeans" })</li>
                                                <li>@Html.ActionLink("Shorts", "Details", "Categories", new { area = "" }, new { name = "Shorts" })</li>
                                                <li>@Html.ActionLink("Skirts", "Details", "Categories", new { area = "" }, new { name = "Skirts" })</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <li class="dropdown mega-dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-space-shuttle"></i> Information <span class="caret"></span></a>
                            <div id="filters" class="dropdown-menu mega-dropdown-menu">
                                <div class="container-fluid2">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="kids">
                                            <ul class="nav-list list-inline">
                                                <li>@Html.ActionLink("Delivery", "Details", "Categories", new { area = "" }, new { name = "Tops" })</li>
                                                <li>@Html.ActionLink("About Us", "Details", "Categories", new { area = "" }, new { name = "Shirts" })</li>
                                                <li>@Html.ActionLink("Contact Us", "Details", "Categories", new { area = "" }, new { name = "Jeans" })</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            @Html.ActionLink("Blogs", "All", "Blogs", new { area = "Blogs" }, null)

                        </li>
                    </ul>
                    @using (Html.BeginForm("Search", "Products", new { area = "" }, FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    }
                    @Html.Partial("_LoginPartial")
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()

    </div>
    @Html.Partial("_FooterPartial")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
