@model PlusSize.Models.ViewModels.Admin.AddProcuctVm
@{
    Layout = null;
}
@Styles.Render("~/Content/Admin/Products.css")

@Html.Partial("_Header")
@Html.Partial("_LeftMenu")

<div class="col-md-10">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="content-box-large">
                <div class="panel-heading">
                    @using (Html.BeginForm("Add", "Products", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Create a new product.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Model, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Model, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Quantity, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Quantity, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("image", "Image", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                <label class="btn btn-default btn-file">
                                    Browse <input type="file" hidden name="image">
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Categories, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select name="category" class="form-control">
                                    @foreach (var categoriesTitles in Model.Categories)
                {
                                        <option value="@categoriesTitles.Title">@categoriesTitles.Title</option>
                                    }
                                </select>
                                @Html.ValidationMessageFor(model => model.Categories, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Add" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@Html.Partial("_Footer")
