@using PlusSize.Models.ViewModels.Admin
@model IEnumerable<AdminOrderVm>
@{
    ViewBag.Title = "All";
    Layout = null;
}
@Html.Partial("_Header")

@Html.Partial("_LeftMenu")
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="table-responsive">
                <table id="mytable" class="table table-bordred table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Data Added</th>
                            <th>Sum Total</th>
                            <th>Delete</th>
                    </thead>
                    <tbody>
                        @foreach (var order in Model)
                        {
                            <tr>
                                <td>@order.Id</td>
                                <td>@order.Name</td>
                                <td>@order.DataAdded</td>
                                <td>@order.SumTotal</td>                         
                                <td>
                                    @Html.ActionLink(" ", "Delete", "Orders", new { id = order.Id },
                                   new { @class = "glyphicon glyphicon-trash btn btn-danger btn-xs" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

@Html.Partial("_Footer")