@using PlusSize.Models.ViewModels.Admin
@model IEnumerable<AdminCategoryVm>

@{
    ViewBag.Title = "All";
    Layout = null;
}

@Html.Partial("_Header")
@Html.Partial("_LeftMenu")

<div class="col-lg-offset-11">
    @Html.ActionLink("Add", "Add", "Categories", null, new { @class = "btn btn-primary" })
</div>
<br />
<div class="row">
    <div class="col-md-9">
        <div class="content-box-large">
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
          
                    <th>
                        @Html.DisplayName("Action")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Title)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>
        @Html.Partial("_Footer")

